nav {
  display: flex;
  justify-content: space-between;
  margin: 20px 50px;
  border-bottom: #d3cdcd 1px solid;
  padding: 10px;
}

.logo_title {
  display: flex;
}

.logo {
  width: 75px;
  height: 50px;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  color: #000;
  margin: 10px;
  text-decoration: none;
}

.menu_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.menu_item {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(36, 127, 247);
  text-decoration: none;
}

.active {
  text-decoration: underline;
}