.profile_container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 10px 75px;
}

.reserved_rockets,
.myMissions
 {
  width: 50%;
}

ul {
  padding: 0;
}

.rockets_container {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

.item {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  list-style: none;
}

.rockets_container li:last-child {
  border-bottom: none;
}

.myMissionsList {
  border: 1px solid #ddd;
  border-collapse: collapse;
}

.missions_container li {
  border-bottom: 1px solid #ddd;
  padding: 15px 0;
  list-style: none;
}

.missions_container li:last-child {
  border-bottom: none;
}

.left_padding {
  padding-left: 20px;
}
