.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  padding: 1% 5%;
  background-color: #fff;
  border-bottom: 1px solid black;
}

.navTitle {
  font-weight: bold;
  color: black;
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
}

.logoTitleContainer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 2rem;
}

.navItems {
  display: flex;
  flex-direction: row;
}

.navLinks {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  letter-spacing: 1.9px;
  width: 20rem;
  list-style: none;
  color: #007fff;
}

.navLinks li {
  list-style: none;
}

.navLinks li:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.navLinks ul a li:active {
  text-decoration: underline;
}
